/* aviable_section */
.aviable_section {
    background: #F2F2F2;
}

.heading_title {
    text-align: center;
    color: #644F9C;
    text-transform: uppercase;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading_title::before {
    position: absolute;
    content: "";
    border-width: 1px;
    border-style: dashed;
    width: 34%;
    left: 0;
    top: 18px;
}

.heading_title::after {
    position: absolute;
    content: "";
    border-width: 1px;
    border-style: dashed;
    width: 34%;
    right: 0;
    top: 18px;
}